$primary: white;
$secondary: black;
$third: grey;
$fourth: #212121;
$fifth: #3f3f3f;
$fontfamily1: 'Varela Round', sans-serif;
$fontfamily2: 'IBM Plex Mono', monospace;
$background:rgba(51, 51, 51, 0.8);
$smallFontSize: 1.3em;
$normalFontSize: 2em;
$bigFontSize: 2.7em;
$xBigFontSize: 3.4em;
$xxBigFontSize: 4.1em;
$zh: #29a6a5;
$lzn: #2973a6;
$brn: #a69029;
$bsl: #a62c2a;
$sg: #2aa74e;
