.content {
  max-width: 800px;
  margin: auto;
}

.heute-sonst-switch{
  font-size: 10vw;
  display: flex;
  justify-content: space-evenly;
}
#backgroundMap
{
  position: fixed !important;
  z-index: -1;
  margin: -8px;
}
#heute{

}
#sonst{
}