@import 'theme.scss';
.event{

  padding: 1em;
  margin: 1em 0em;
  text-align: left;
  background-color:rgba(51, 51, 51, 0.8);
  border-radius: 1px;
  cursor: pointer;
  width: 100vw;
  display: flex;


}

.dates {
  font-size: 1.8em;
  padding-right: 1em;
}
.event-name{

  font-size: 2.4em;
  text-transform: uppercase;

}
.club {
  font-size: 1.4em;
}

.club, .zeit {
  padding-right: 10px;
}

.event-desc-container{
  display: flex;
}


.genres {
  display: flex;
  max-width: 100vw;

  flex-wrap: wrap;
}