@import 'theme.scss';

.content {
  max-width: 800px;
  margin: auto;
  overflow: hidden;
  z-index: 5;
}




.map-icon {

  max-width: 800px;
  position: absolute;
  cursor: pointer;
  display: flex;
  width: 100vw;
  left: 50%;
  bottom: 50px;
  z-index: 9999;
  transform: translate(-50%,0);
  right: -50px;
  justify-content: flex-end;



}

.icon-text {
  font-size: 3em;
  display: flex;
  margin-right: 12px;

  align-items: center;

}

.map-icon img {
  margin-right: 50px;
}



.header {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  max-width: 800px;
  font-size: 2.4em;
}

.hide {
  //padding-top: 100vh;
  height: 0;
  overflow: hidden;

  margin: auto;



}

.header.hide {
  display: none;
}


.city {

  flex-grow: 0;
}

.nav{
  justify-content: center;
  flex-grow: 1;
  display: flex;
  align-items: center;
  cursor: pointer;

}




.heute-sonst-switch a {
  cursor: pointer;
}

.active{

  text-decoration: line-through;

}
.showMap {
  display: none;
}



#backgroundMap
{
  z-index: -1;
  pointer-events: none;
  position: fixed !important;
}
