.event{
  padding-bottom: 25px;
  font-size: 15px;
  text-align: left;
  width: 100%;

}
.event-name{text-transform: uppercase;}
.club{

  font-size: 50%;
  padding-right: 5px;
}
.zeit{
  font-size: 25%;
}
.event-desc-container{
  display: flex;
}