@import 'theme.scss';
.content {
  max-width: 800px;
  margin: auto;
  overflow: hidden;
}

.heute-sonst-switch{
  color: grey;
  font-size: 5em;

  display: flex;
  justify-content: space-evenly;
}

.heute-sonst-switch a {
  cursor: pointer;
}

.active{
  color: $primary;

}
#backgroundMap
{
  position: fixed !important;
  z-index: -1;
}
#heute{

}
#sonst{
}