@import 'theme.scss';
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: $secondary;
  color: $primary;

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $fontfamily1;
  }
  a:link {
    color: $primary;
  }
  a:visited {
    color: $primary;

  }
}

.home {

  ul {
    list-style: none;
    position: absolute;
    bottom: 0px;
    padding: 10px;
  }

  ul {
    li {
      font-size: 4.5rem;
      text-align: left;
      height: 100%;
    }
  }
}
