@import 'theme.scss';
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: $fourth;
  color: $primary;

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $fontfamily1;
  }
  a:link {
    color: $primary;
  }
  a:visited {
    color: $primary;

  }
}

.title{
  font-size: 8rem;
  opacity: 0.2;
  float: right;
  transform-origin: bottom right;
  transform: rotate(-90deg) translate(80px, 10px);
  animation: down-top 1s;
  animation-iteration-count: initial;
}
.title2{
  font-size: 4.5rem;
  opacity: 0.2;
  position: absolute;
  top: 0px;
  padding-top: 10px;
  padding-left: 10px;
  animation: right-left 1.5s;
  animation-iteration-count: initial;
}



.home {
  animation: fade-in 1s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  ul {
    list-style: none;
    position: absolute;
    bottom: 0px;
    padding: 10px;
  }

  ul {
    li {
      font-size: 4.5rem;
      text-align: left;
      height: 100%;
    }
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes down-top {
0%{
  opacity: 0;
  transform: rotate(-90deg) translate(0vw, 10px);
}
100%{
  opacity: 0.2;
  transform: rotate(-90deg) translate(80px, 10px);
}
}

@keyframes right-left {
  0%{
    opacity: 0;
    padding-left: 80px;
  }
  20%{
    opacity: 0;
  }
  100%{
    opacity: 0.2;
    padding-left: 10px;
  }
}
