@import 'theme.scss';
html {
  font-size: 62.5%;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: $fourth;
  color: $primary;

  a {
    text-decoration: none;
    text-transform: uppercase;
    font-family: $fontfamily1;
  }
  a:link {
    color: $primary;
  }
  a:visited {
    color: $primary;

  }
}
.title{
  font-size: 4.5em;
  float: right;
  transform-origin: bottom right;
  transform: rotate(-90deg) translate(45px, 0px);
  opacity: 0.5;


}
.home {
  -webkit-animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 1.2s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  ul {
    list-style: none;
    position: absolute;
    bottom: 0px;
    padding: 10px;
  }

  ul {
    li {
      font-size: 4.5rem;
      text-align: left;
      height: 100%;
    }
  }
}
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
