@import 'theme.scss';
.tag {
  font-size: 1.2em !important;
  font-family: "Open Sans";
  border: solid 2px $primary;
  color: $primary;
  margin: 3px 3px 3px 3px;
  padding: 1px 6px;
  border-radius: 2px;
  cursor: pointer;
  background-color: $background;
  //text-transform: uppercase;
  white-space:nowrap;
}

/*
.tag:hover {
  background-color:$primary;
  color: $secondary;
}*/

.filter {

  //text-decoration: line-through;
}

.selected {
  border: solid 2px $primary;
  background-color: $primary;
  color: $secondary;
  text-decoration: none;
  -webkit-transition: all 900ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -moz-transition: all 900ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  -o-transition: all 900ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
  transition: all 900ms cubic-bezier(0.190, 1.000, 0.220, 1.000);
}
