.tag {
  font-size: 1rem;
  font-family: "Open Sans";
  background-color: white;
  color: black;
  margin: 3px;
  padding: 1px 6px;
  border-radius: 2px;
  cursor: pointer;
  //text-transform: uppercase;
  white-space:nowrap;
}