$primary: white;
$secondary: black;
$third: grey;
$fontfamily1: 'IBM Plex Mono', monospace;
$fontfamily2: 'IBM Plex Mono', monospace;
$background:rgba(51, 51, 51, 0.8);
$smallFontSize: 1.3em;
$normalFontSize: 2em;
$bigFontSize: 2.7em;
$xBigFontSize: 3.4em;
$xxBigFontSize: 4.1em;